<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<head py:match="head" py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title py:replace="''">Your title goes here</title>
    <meta py:replace="select('*')"/>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/style.css')}" />
</head>
<body py:match="body" py:attrs="select('@*')">


<!-- navbar renders here -->
<py:if test="defined('currpage')">
${HTML(render_navbar(False, currpage))}
</py:if>
<py:if test="not defined('currpage')">
${HTML(render_navbar(False))}
</py:if>
<!-- end: navbar renders here -->

<!-- vertical navbar renders here -->
${HTML(render_navbar(True))}
<!-- end: vertical navbar renders here -->


  <div id="content">
    <py:if test="defined('page')">
    <div class="currentpage">
     Now Viewing: <span py:replace="page"/>
     </div>
    </py:if>
    <div id="${tg.flash_status}" py:if="tg.flash" class="flash"
     py:content="tg.flash">
    </div>
    <div py:replace="select('*|text()')"/>
    <!-- End of main_content -->
  </div>
</body>
</html>
